<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804740475110-eo31bst8a5aurcfcirl3oi7n8o6um45s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804740475110-eo31bst8a5aurcfcirl3oi7n8o6um45s</string>
	<key>API_KEY</key>
	<string>AIzaSyAyWcW7WFJ4z8JkAHBSFu3RAor1U_vOMBI</string>
	<key>GCM_SENDER_ID</key>
	<string>804740475110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laonstory.brandcare</string>
	<key>PROJECT_ID</key>
	<string>brandcare-5129a</string>
	<key>STORAGE_BUCKET</key>
	<string>brandcare-5129a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804740475110:ios:d515f62b9261fbb944b327</string>
</dict>
</plist>